/* animation.html */
/* koła 1 */
.circle-1__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-1__span {
  border: 1.5px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: circle-1-animate 5s linear infinite;
  animation-delay: calc(0.5s * var(--i))
}

@keyframes circle-1-animate {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/* koła 2 - kod na kolorowe kółka jest w app.js */
.circle-2__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-2__span {
  border: 1.5px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: circle-2-animate 5s linear infinite;
  animation-delay: calc(0.5s * var(--i))
}

@keyframes circle-2-animate {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/* kolory 1 */
.colors-1__wrapper {
  width: 100%;
  height: 100%;
  animation: colors-1 10s infinite;
}

@keyframes colors-1 {
  0% {
    background: lightyellow;
  }
  15% {
    background: lightpink;
  }
  30% {
    background: lightblue;
  }
  42% {
    background: lightsalmon;
  }
  58% {
    background: lightseagreen;
  }
  70% {
    background: lightseagreen
  }
  82% {
    background: lightgoldenrodyellow;
  }
  100% {
    background: lightsteelblue;
  }
}