/* button.html */
/* przycisk 1 */
.btn-1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.btn-1__draw-border {
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.btn-1__draw-border::before,
.btn-1__draw-border::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.btn-1__draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.btn-1__draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.btn-1__draw-border:hover {
  color: #55bbf6;
}

.btn-1__draw-border:hover::before,
.btn-1__draw-border:hover::after {
  width: 100%;
  height: 100%;
  border-color: #55bbf6;
  -webkit-transition: border-color 0s, width 0.3s, height 0.3s;
  -o-transition: border-color 0s, width 0.3s, height 0.3s;
  transition: border-color 0s, width 0.3s, height 0.3s;
}

.btn-1__draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.3s;
  -o-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.btn-1__draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.3s, 0s;
  -o-transition-delay: 0s, 0.3s, 0s;
  transition-delay: 0s, 0.3s, 0s;
}

/* przycisk 2 */
.btn-2 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #55bbf6;
  -webkit-box-shadow: inset 0 0 0 0 #55bbf6;
  box-shadow: inset 0 0 0 0 #55bbf6;
  -webkit-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}

.btn-2__left-diagonal:hover {
  -webkit-box-shadow: inset 400px 50px 0 0 #55bbf6;
  box-shadow: inset 400px 50px 0 0 #55bbf6;
}

/* przycisk 3 */
.btn-3 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #55bbf6;
  -webkit-box-shadow: inset 0 0 0 0 #55bbf6;
  box-shadow: inset 0 0 0 0 #55bbf6;
  -webkit-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}

.btn-3__right-diagonal:hover {
  -webkit-box-shadow: inset -400px 50px 0 0 #55bbf6;
  box-shadow: inset -400px 50px 0 0 #55bbf6;
}

/* przycisk 4 */
.btn-4 {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 40px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.btn-4__span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.7)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  -webkit-animation: btn-4-animate-1 2s linear infinite;
  animation: btn-4-animate-1 2s linear infinite;
}

@-webkit-keyframes btn-4-animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes btn-4-animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.btn-4__span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(254, 173, 38, 0.7)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  -webkit-animation: btn-4-animate-2 2s linear infinite;
  animation: btn-4-animate-2 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes btn-4-animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes btn-4-animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.btn-4__span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.7)));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
  -webkit-animation: btn-4-animate-3 2s linear infinite;
  animation: btn-4-animate-3 2s linear infinite;
}

@-webkit-keyframes btn-4-animate-3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes btn-4-animate-3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.btn-4__span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(255, 255, 255, 0.7)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.7));
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.7));
  -webkit-animation: btn-4-animate-4 2s linear infinite;
  animation: btn-4-animate-4 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes btn-4-animate-4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes btn-4-animate-4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* przycisk 5 */
.btn-5 {
  width: 150px;
  height: 150px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.btn-5::before, .btn-5::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid #fff;
  position: absolute;
  top: -4px;
  left: -4px;
  transition: 1s;
}

.btn-5:hover::before {
  transform: rotate(30deg);
  border-radius: 50%;
}

.btn-5:hover::after {
  transform: rotate(60deg);
}

/* przycisk 6 */
.btn-6 {
  width: 150px;
  height: 150px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.btn-6::before, .btn-6::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid #fff;
  position: absolute;
  top: -4px;
  left: -4px;
  transition: 1s;
}

.btn-6:hover::before {
  transform: rotate(30deg);
}

.btn-6:hover::after {
  transform: rotate(60deg);
}

/* przycisk 7 */
.btn-7 {
  width: 150px;
  height: 150px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.btn-7::before, .btn-7::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid #fff;
  border-radius: 40px;
  position: absolute;
  top: -4px;
  left: -4px;
  transition: 1s;
}

.btn-7:hover::before {
  transform: rotate(30deg);
}

.btn-7:hover::after {
  transform: rotate(60deg);
}